<li class="task-row" id="tasks_<%= task.id %>" data-plan="<%= @plan.id %>">

  <div class="task-position">
    <%= task.position %>
  </div>
  <div class="task">
    <div class="task-details">
      <%= task.deed %>
    </div>
  </div>
  <div class="task-priority">
    <div class="task-priority-details">
      <%= task.priority %>
    </div>
  </div>

</li>
