<%= render 'shared/plan_header' %>

<%= render partial: 'list_directions' %>

<div class="well">
  <%= form_for @role, url: create_role_assign_task_wizard_path(@plan.id) do |f| -%>
    <div class="form-group">
      <label for="">Add New Role</label>
      <%= f.text_field :doer, class: 'form-control' %>
    </div>
    <%= f.submit 'Create Role', class: 'btn btn-success' %>
  <% end -%>
</div>

<div id="assign-tasks">

  <div class="content-wrapper">
    <div class="list-content">
      <div class="list-head">
        <h2 class="list-head-text">Actions</h2>
      </div>
      <div class="list-tasks">

        <ul class="" data-sort-url="<%= sort_positioned_plan_tasks_path(@plan.id) %>">

          <% @tasks.each do |task| %>
            <li class="task-row" id="tasks_<%= task.id %>" data-plan="<%= @plan.id %>">

                <div class="task-position">
                  <%= task.position %>
                </div>
                <div class="task">
                  <div class="task-details">
                    <%= task.deed %>
                  </div>
                </div>
                <div class="task-priority">
                  <%= select_tag("priority", options_for_select(priority_ratings_array, task.priority), class: "form-control") %>
                </div>



                <div class="task-person">
                  <%= select_tag("role_id", options_for_select(roles_for_select(@plan), task.role_id), prompt: "Please select role...", class: "form-control sortRole") %>
                </div>
                <a href="#" class="assign-save-btn" data-url="<%= update_assign_task_wizard_path(@plan.id, task.id) %>">Save Task</a>

            </li>
          <% end %>

        </ul>

      </div>
    </div>
  </div>

</div>
