<%= render 'shared/plan_header' %>

<%= render partial: 'list_directions' %>

<div id="include-tasks">

  <div class="content-wrapper">
    <div class="list-content">
      <div class="row">
        <%= form_tag plans_wizard_include_path(@plan.id), method: 'get' do %>

        <div class="col-md-4">

          <div class="row">
            <div class="col-md-12">
              <div class="list-head">
                <h2 class="list-head-text">Role/Person</h2>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="role-person-select">
                <%= select_tag("sort[role_id]", options_for_select(roles_for_select(@plan), sort_role_id || 'Show all'), class: "form-control sortRole") %>
              </div>
            </div>
          </div>

        </div>
        <div class="col-md-4">

          <div class="row">
            <div class="col-md-12">
              <div class="list-head">
                <h2 class="list-head-text">Sort Order</h2>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="role-person-select">
                <%= select_tag('sort[priority_direction]', options_for_select(priority_for_select, sort_priority_direction || 'ASC'), class: "form-control sortOrder") %>
              </div>
            </div>
          </div>

        </div>

        <div class="col-md-4">

          <div class="row">
            <div class="col-md-12">
              <div class="list-head hidden-xs hidden-sm">
                <h2 class="list-head-text ">
                  &nbsp;
                </h2>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="btn-refresh">
                <button class="btn btn-warning btn-block sortInclude">Refresh / Sort</button>
              </div>
            </div>
          </div>
        </div>

  <% end %>

      </div>
    </div>
  </div>

  <div class="content-wrapper">
    <div class="list-content">
      <div class="list-head">
        <h2 class="list-head-text">State of Task...</h2>
      </div>
      <div class="list-tasks">

        <ul class="" data-sort-url="<%= sort_positioned_plan_tasks_path(@plan.id) %>">

          <% @tasks.each do |task| %>
            <li class="task-row" id="tasks_<%= task.id %>" data-plan="<%= @plan.id %>" data-url="<%= update_include_task_wizard_path(@plan.id, task.id) %>">

                <div class="task-position">
                  <%= task.position %>
                </div>
                <div class="task">
                  <div class="task-details">
                    <div class="pull-left">Level: <%= task.priority %></div>
                    <div class="pull-right"><%= task.role.doer %></div> <br>
                    <%= task.deed %>
                  </div>
                </div>
                <div class="include-task">
                  <%= check_box_tag("task[included]", value="1", task.included) %>
                </div>

            </li>
          <% end %>

        </ul>

      </div>
    </div>
  </div>

</div>
