<%= render 'shared/plan_header' %>

<%= render partial: 'list_directions' %>

<div id="include-tasks">

  <div class="content-wrapper">
    <div class="list-content">
      <div class="row">
        <div class="col-md-4">

          <div class="row">
            <div class="col-md-12">
              <div class="list-head">
                <h2 class="list-head-text">Role/Person</h2>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="role-person-select">
                <%= select_tag("role_id", options_for_select(@plan.roles.collect{|role| [role.doer, role.id]}, @plan.roles.first.doer || "-"), prompt: "Please select role...", class: "form-control ") %>
              </div>
            </div>
          </div>

        </div>
        <div class="col-md-4">

                    <div class="row">
            <div class="col-md-12">
              <div class="list-head">
                <h2 class="list-head-text">Sort Order</h2>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="role-person-select">
                <%= select_tag("priority", options_for_select(["Highest Priority", "Lowest Priority", "Included", "Not Included"], "Highest Priority"), class: "form-control ") %>
              </div>
            </div>
          </div>

        </div>
        <div class="col-md-4">

          <div class="row">
            <div class="col-md-12">
              <div class="list-head">
                <h2 class="list-head-text"></h2>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="pull-right">
                <div class="btn btn-warning btn-lg">Refresh Only</div>
                &nbsp;
                <div class="btn btn-success btn-lg">Save and Refresh</div>
                &nbsp;&nbsp;
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="content-wrapper">
    <div class="list-content">
      <div class="list-head">
        <h2 class="list-head-text">State of Task...</h2>
      </div>
      <div class="list-tasks">

        <ul class="" data-sort-url="<%= sort_positioned_plan_tasks_path(@plan.id) %>">

          <% @plan.tasks.each do |task| %>
            <li class="task-row" id="tasks_<%= task.id %>" data-plan="<%= @plan.id %>">

                <div class="task-position">
                  <%= task.position %>
                </div>
                <div class="task">
                  <div class="task-details">
                    <%= task.deed %>
                  </div>
                </div>
                <div class="include-task">
                  <%= check_box_tag("task[priority]", value="1", task.included, class: "") %>
                </div>
<!--                 <div class="task-priority">
                  <div class="task-priority-details">
                    <%#= select_tag("priority", options_for_select(priority_ratings_array, task.priority), class: "form-control") %>
                  </div>
                </div> -->

            </li>
          <% end %>

        </ul>

      </div>
    </div>
  </div>

</div>
