<%= render 'shared/plan_header' %>

<%= render partial: 'list_directions' %>

<div id="include-tasks">

  <div class="content-wrapper">
    <div class="list-content">
      <div class="row">
        <div class="col-md-4">

          <div class="row">
            <div class="col-md-12">
              <div class="list-head">
                <h2 class="list-head-text">Role/Person</h2>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="role-person-select">
                <%= select_tag("role_id", options_for_select(@plan.roles.collect{|role| [role.doer, role.id]}, @plan.roles.first.doer || "-"), prompt: "Please select role...", class: "form-control ") %>
              </div>
            </div>
          </div>

        </div>
        <div class="col-md-4">

                    <div class="row">
            <div class="col-md-12">
              <div class="list-head">
                <h2 class="list-head-text">Sort Order</h2>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="role-person-select">
                <%= select_tag("priority", options_for_select(["Highest Priority", "Lowest Priority", "Included", "Not Included"], "Highest Priority"), class: "form-control ") %>
              </div>
            </div>
          </div>

        </div>
        <div class="col-md-4">

          <div class="row">
            <div class="col-md-12">
              <div class="list-head hidden-xs hidden-sm">
                <h2 class="list-head-text ">
                  &nbsp;
                </h2>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="btn-refresh">
                <div class="btn btn-warning texgt-center btn-block">Refresh / Sort</div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="content-wrapper">
    <div class="list-content">
      <div class="list-head">
        <h2 class="list-head-text">State of Task...</h2>
      </div>
      <div class="list-tasks">

        <ul class="" data-sort-url="<%= sort_positioned_plan_tasks_path(@plan.id) %>">

          <% @plan.tasks.each do |task| %>
            <li class="task-row" id="tasks_<%= task.id %>" data-plan="<%= @plan.id %>" data-url="<%= update_include_task_wizard_path(@plan.id, task.id) %>">

                <div class="task-position">
                  <%= task.position %>
                </div>
                <div class="task">
                  <div class="task-details">
                    <% if @unfiltered %>
                      <div class="pull-left">Level: <%= task.priority %></div>
                      <div class="pull-right"><%= task.role.doer %></div> <br>
                    <% end %>
                    <%= task.deed %>
                  </div>
                </div>
                <div class="include-task">
                  <%= check_box_tag("task[included]", value="1", task.included) %>
                </div>

            </li>
          <% end %>

        </ul>

      </div>
    </div>
  </div>

</div>
