<%= render 'shared/plan_header' %>

<%= render partial: 'list_directions' %>

<div id="position-tasks">
  <div class="content-wrapper">
    <div class="list-content">
      <div class="list-head">
        <h2 class="list-head-text">Actions</h2>
      </div>
      <div class="list-tasks">

        <ul class="" data-sort-url="<%= sort_positioned_plan_tasks_path(@plan.id) %>">

          <% @tasks.each do |task| %>
            <li class="task-row" id="tasks_<%= task.id %>" data-plan="<%= @plan.id %>">

              <div class="task-position">
                <div class="task-position-details">
                  <%= task.position %>
                </div>
              </div>
              <div class="task">
                <div class="task-details">
                  <%= task.deed %>
                </div>
              </div>
              <div class="task-priority">
                <div class="task-priority-details">
                  <%= task.priority %>
                </div>
              </div>

            </li>
          <% end %>

        </ul>

      </div>
    </div>
  </div>

</div>
