<ul class="connectedSortable <%#= sort_klass %> modalTaskEditOn" data-sort-url=<%= task_sort_route %>>
  <% tasks.each do |task| %>
    <li class="task-row" id="tasks_<%= task.id %>" data-plan="<%= @plan.id %>" data-url-modal-edit="<%= edit_modal_task_path(@plan.id, task.id) %>">
      <div class="task-position">
        <div class="task-position-details">
          <%= task.position %>
        </div>
      </div>

      <div class="flex-person-wrapper">
        <div class="task-person">
          <div class="task-person-details">
            <%= task.role.try(:doer) %>
          </div>
        </div>
      </div>

      <div class="task">
        <div class="task-details">
          <div class="task-details-title">
            <%= task.deed %>
          </div>
        </div>
      </div>
      <div class="task-priority priority-level-<%= task.priority %>">
        <div class="task-priority-details">
          <%= task.priority %>
        </div>
      </div>
    </li>
  <% end %>
</ul>



